:root {
    --highlight-color: blue;
    --background-color: lightgray;
    --section-color: gray;
    --text-color: white;
}

/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 90%;
    margin: auto;
    text-align: center;
}

section {
    border: 1px solid var(--highlight-color);
    background-color: var(--section-color);
    padding: 0.3rem;
    border-collapse: collapse;
}

/* Images */
#images img {
    border: 1px solid var(--highlight-color);
    width: 10%;
    height: 10%;
    margin: 0.25rem 7.5%;
}

/* Source */
#source {
    text-align: left;
}

#source a {
    color: var(--text-color);
}

/* Footer */
footer {
    margin: 1rem;
}