:root {
    --text-color: #3B0404;
    --card-color: #F79489;
    --background-color: #F9F1F0;
}

/* Structure */
body {
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

/* Header */
header {
    text-align: center;
    margin-block-end: -15px;
}

#name {
    position: relative;
    left: -40px;
    top: -15px;
}

/* Main content */
main h1 {
    text-align: center;
    margin: 5px;
}

/* Cards */
#assignment-cards article, #project-cards article {
    background-color: var(--card-color);
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#assignment-cards p, #project-cards p {
    text-align: left;
    padding-left: 15px;
}

#assignment-cards a, #project-cards a {
    text-decoration: none;
    color: var(--text-color);
    
}

#assignment-cards img, #project-cards img {
    width: 300px;
    height: 150px;
    object-fit: cover;
}

/* Footer */
footer {
    text-align: center;
}

/* Larger Resolution */
@media only screen and (min-width: 768px) {
    /* Header */
    header {
        margin-bottom: -30px;
    }

    #line-break {
        display: none;
    }

    #name {
        position: relative;
        top: -75px;
        left: -300px;
    }

    /* Cards */
    #assignment-cards, #project-cards {
        display: flex;
        flex-wrap: wrap;
    }

    #assignment-cards article, #project-cards article {
        flex: 25%;
        margin: 10px;
    }

    #assignment-cards p, #project-cards p {
        padding-left: 20px;
    }
}